.state
  生年月日から10秒で運勢を
  %span.orange 占う 
.time
  = time = Time.now()
.description
  カバラ占星術は生年月日から運勢を占うことができます。数秘術とも呼ばれ古代から受け継がれています。生年月日を選択して占いを始めましょう。
.form
  = form_tag('/result', :method => :get) do
    = select_date(time,{:use_month_numbers => true, :start_year => Time.now.year - 50,:end_year =>  Time.now.year + 1  }) 
    = submit_tag "占いを始める"
